body {  
    margin: 0px; 
    color: Blue;  
    text-align: center;  
}
.grid-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
 }
  img {
      width: 300px;
      height: 400px;
      box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
 }

     
